<br>
<!-- Name Section -->
<div class="name-section" style="text-align: center;">
  <span style="font-family: Sequel,Arial,Helvetica,sans-serif; font-weight: bold; font-size: 40px; text-align: center;">WhiteSpike</span>
</div>
<br>

<body class ="landing-body">
  <div class="row justify-content-center align-items-center p-10">
    <div class="col-lg-4 col-md-6 text-center mt-10">

    </div>
  </div>
  <br>
  <div id="text_container">
    <h3>{{site.description}}</h3>
  </div>

  <br><br>
</body>